.zentro-page {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.zentro-container {
  font-size: 60px;
  font-weight: bold;
  color: white;
  display: flex;
  gap: 10px;
}

.letter {
  display: inline-block;
  transform: translateY(50px);
  opacity: 0;
}

@keyframes jumpIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  60% {
    transform: translateY(-20px);
    opacity: 1;
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
